acronyms.md
learning-plan.md
notes.md
bitwise-notes.md
.lib
!.lib/STM32CubeF4
!.lib/STM32CubeF4/Drivers
!.lib/STM32CubeF4/Drivers/CMSIS
!.lib/STM32CubeF4/Drivers/CMSIS/Core
!.lib/STM32CubeF4/Drivers/CMSIS/Core/Include
!.lib/STM32CubeF4/Drivers/CMSIS/Device
!.lib/STM32CubeF4/Drivers/CMSIS/Device/ST
!.lib/STM32CubeF4/Drivers/CMSIS/Device/ST/STM32F4xx
!.lib/STM32CubeF4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
!.lib/STM32CubeF4/Drivers/STM32F4xx_HAL_Driver
!.lib/STM32CubeF4/Drivers/STM32F4xx_HAL_Driver/Inc
dmp
books
misc
notes
.clangd
