lib
!scripts/morse_to_times/lib
books
examples
misc
docs/notes/*
!docs/notes/uart_notes.md
!docs/notes/clock_notes.md
.clangd
*.elf
*.bin
*.map
*.o
*.s
obj
bin
*.bak
!src/main.bak
debug
debug.md
logs
